@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url(../../public/images/bg.png);
}

.hexagon{
    background-color: blueviolet;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}