@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url(../../public/images/bg.png);
}

.hexagon{
    position: relative;
    background-color: #eeee;
    background-image: linear-gradient(#eeee, #cbd5e1);
    width: 13vw;
    height: 11vw;    
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

@media screen and (max-width: 1200px) {
    .hexagon{
        position: relative;
        background-color: #eeee;
        width: 18vw;
        height: 15.5vw;    
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
}

@media screen and (max-width: 768px) {
    .hexagon{
        position: relative;
        background-color: #eeee;
        width: 30vw;
        height: 26vw;    
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }
}

